<!DOCTYPE html>
<html>

{{> head}}

{{> navbar  }}

<div class="row">
    <div class="col-8">
        <h1>Hola esto es about</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit velit porro, fugiat accusamus veniam alias quo
            corporis libero, unde, aperiam magni! Distinctio, consequuntur. Corrupti inventore atque molestias minus
            iusto accusantium?</p>
    </div>
    <div class="col-8">
        <img src="assets/images/wolf-logo-vector.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}